@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

body {
  max-width: 1920px;
}

.letter-spacing {
  letter-spacing: 0.4rem;
}

.this-page, .this-page:visited {
  color: rgb(253, 140, 171);
}

p {
  font-weight: 300;
}

.header__elem {
  display: flex;
  justify-content: space-between;
}
.header__elem:nth-child(3) {
  justify-content: center;
}
.header__elem:nth-child(1) > div:nth-child(2) {
  padding: 0.3rem 1rem;
}
.header__elem img {
  width: 2rem;
}
.header__elem .logo {
  width: 7rem;
  margin: -16px 0 0 0;
}

.header__elem span {
  padding: 0.5rem 0 1rem 1rem;
  font-weight: lighter;
}

.works-gallery {
  width: 100vw;
  margin-top: 29%;
}
.works-gallery__block__img {
  width: 100vw;
  display: flex;
  margin: 0;
  margin-top: 0px;
  padding: 0;
  clip-path: polygon(0 32%, 100% 0%, 100% 68%, 0% 100%);
  margin-top: -30.5%;
}
.works-gallery__block__img img {
  width: 100%;
}

.about-main {
  padding: 1rem 1rem 1rem 1rem;
  text-align: center;
}
.about-main h2 {
  font-weight: 500;
  margin: 0 0 20px 0;
}
.about-main__options {
  padding: 1rem 0;
}
.about-main__options img {
  margin: 0 7px 5px 5px;
}
.about-main p {
  letter-spacing: 0.2rem;
}
.about-main .articles-wrapper__article {
  padding: 2rem 0 2rem 0;
}

.header__elem--desktop {
  display: none;
}

.about-image img {
  width: 100%;
  display: none;
}

@media all and (min-width: 600px) {
  .header__elem .logo {
    width: 7rem;
    margin-top: -151px;
  }

  .header__elem--desktop {
    display: flex;
  }
  .header__elem--desktop > div {
    display: flex;
    min-width: 14.3vw;
    justify-content: space-between;
  }

  .header__elem--mobile {
    display: none;
  }

  .header__elem:nth-child(2) {
    padding: 0.4rem 23vw;
    margin-top: 70px;
  }

  .works-gallery {
    margin-top: 6%;
  }
  .works-gallery .works-gallery__block {
    display: flex;
    clip-path: polygon(0 32%, 100% 0%, 100% 68%, 0% 100%);
    margin-top: -114px;
  }
  .works-gallery .works-gallery__block > div {
    margin-top: 0;
  }
  .works-gallery .works-gallery__block__img {
    clip-path: none;
  }

  .about-image img {
    display: initial;
  }
}
@media all and (min-width: 1200px) {
  .header__elem .logo {
    width: 15rem;
  }

  .header__elem:nth-child(2) {
    padding: 3rem 28vw;
    margin-top: 70px;
  }

  .header__elem--desktop > div {
    min-width: 11.3vw;
  }
}
